bpel/TravelGoodCA/src/jbiServiceUnits/META-INF/TravelGood/src/_references/_relative/nbproject/private/retriever/localhost_8282/webservices/AirlineService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="BookingNumberException" type="tns:BookingNumberException"/>

<xs:element name="CustomDate" type="tns:CustomDate"/>

<xs:element name="Flight" type="tns:Flight"/>

<xs:element name="FlightReservation" type="tns:FlightReservation"/>

<xs:complexType name="CustomDate">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="day" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightReservation">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="bookingNumber" type="xs:string" minOccurs="0"/>
<xs:element name="airlineName" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="flight" type="tns:Flight" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Flight">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="startAirport" type="xs:string"/>
<xs:element name="destinationAirport" type="xs:string"/>
<xs:element name="carrier" type="xs:string"/>
<xs:element name="start" type="xs:long"/>
<xs:element name="end" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BookingNumberException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightReservationArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:FlightReservation" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
</xs:sequence>
</xs:complexType>
</xs:schema>