bpel/TravelGood/src/localhost_8080/webservices/HotelService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="HotelService">
<types>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/webservices/HotelService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/webservices/HotelService?xsd=2"/>
</xsd:schema>
</types>
<message name="getHotels">
<part name="city" type="xsd:string"/>
<part name="arrivalDate" type="xsd:dateTime"/>
<part name="departureDate" type="xsd:dateTime"/>
</message>
<message name="getHotelsResponse">
<part name="hotels" type="tns:HotelArray"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="bookHotel">
<part name="hotelBookingRequest" type="tns:HotelBookingRequest"/>
</message>
<message name="bookHotelResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="cancelHotel">
<part name="bookingNumber" type="xsd:string"/>
</message>
<message name="cancelHotelResponse"/>
<portType name="HotelInterface">
<operation name="getHotels" parameterOrder="city arrivalDate departureDate">
<input wsam:Action="http://services/HotelInterface/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://services/HotelInterface/getHotelsResponse" message="tns:getHotelsResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services/HotelInterface/getHotels/Fault/SQLException"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="http://services/HotelInterface/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://services/HotelInterface/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://services/HotelInterface/bookHotel/Fault/SQLException"/>
</operation>
<operation name="cancelHotel">
<input wsam:Action="http://services/HotelInterface/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://services/HotelInterface/cancelHotelResponse" message="tns:cancelHotelResponse"/>
</operation>
</portType>
<binding name="HotelServicePortBinding" type="tns:HotelInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
</operation>
</binding>
<service name="HotelService">
<port name="HotelServicePort" binding="tns:HotelServicePortBinding">
<soap:address location="http://localhost:8080/webservices/HotelService"/>
</port>
</service>
</definitions>