bpel/TravelGoodCA/src/jbiasa/TravelGoodCA.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="TravelGoodCA"
             xmlns:tns="TravelGoodCA" xmlns:ns="http://j2ee.netbeans.org/wsdl/TravelGood/src/client" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <import namespace="http://j2ee.netbeans.org/wsdl/TravelGood/src/client" location="../jbiServiceUnits/TravelGood/client.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:clientPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </output>
        </operation>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </output>
        </operation>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </output>
        </operation>
        <operation name="cancelItinerary">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </input>
            <output name="output4">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </output>
        </operation>
        <operation name="getItinerary">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </input>
            <output name="output5">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </output>
        </operation>
        <operation name="bookItinerary">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </input>
            <output name="output6">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </output>
        </operation>
        <operation name="createBooking">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </input>
            <output name="output7">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </output>
        </operation>
        <operation name="addHotel">
            <soap:operation/>
            <input name="input8">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </input>
            <output name="output8">
                <soap:body use="literal" namespace="TravelGoodCA"/>
            </output>
        </operation>
    </binding>
    <service name="TravelGoodCAService1">
        <port name="casaPort1" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/TravelGoodCAService1/casaPort1"/>
        </port>
    </service>
</definitions>
