src/main/java/flight/AirlineService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="AirlineService">
<types>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/webservices/AirlineService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/webservices/AirlineService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/webservices/AirlineService?xsd=3"/>
</xsd:schema>
</types>
<message name="getFlights">
<part name="from" type="xsd:string"/>
<part name="destination" type="xsd:string"/>
<part name="date" type="tns:PenisDate"/>
</message>
<message name="getFlightsResponse">
<part name="flightRevervations" type="tns:FlightReservationArray"/>
</message>
<message name="bookFlight">
<part name="bookingNumber" type="xsd:string"/>
<part xmlns:ns1="http://types.fastmoney.imm.dtu.dk" name="cardInformation" type="ns1:creditCardInfoType"/>
</message>
<message name="bookFlightResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns2="http://fastmoney.imm.dtu.dk" name="fault" element="ns2:CreditCardFault"/>
</message>
<message name="BookingNumberException">
<part name="fault" element="tns:BookingNumberException"/>
</message>
<message name="cancelFlight">
<part name="bookingNumber" type="xsd:string"/>
<part name="price" type="xsd:float"/>
<part xmlns:ns3="http://types.fastmoney.imm.dtu.dk" name="cardInformation" type="ns3:creditCardInfoType"/>
</message>
<message name="cancelFlightResponse">
<part name="return" type="xsd:boolean"/>
</message>
<portType name="AirlineInterface">
<operation name="getFlights" parameterOrder="from destination date">
<input wsam:Action="http://services/AirlineInterface/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://services/AirlineInterface/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="bookFlight" parameterOrder="bookingNumber cardInformation">
<input wsam:Action="http://services/AirlineInterface/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://services/AirlineInterface/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://services/AirlineInterface/bookFlight/Fault/CreditCardFaultMessage"/>
<fault message="tns:BookingNumberException" name="BookingNumberException" wsam:Action="http://services/AirlineInterface/bookFlight/Fault/BookingNumberException"/>
</operation>
<operation name="cancelFlight" parameterOrder="bookingNumber price cardInformation">
<input wsam:Action="http://services/AirlineInterface/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://services/AirlineInterface/cancelFlightResponse" message="tns:cancelFlightResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://services/AirlineInterface/cancelFlight/Fault/CreditCardFaultMessage"/>
<fault message="tns:BookingNumberException" name="BookingNumberException" wsam:Action="http://services/AirlineInterface/cancelFlight/Fault/BookingNumberException"/>
</operation>
</portType>
<binding name="AirlineServicePortBinding" type="tns:AirlineInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
<fault name="BookingNumberException">
<soap:fault name="BookingNumberException" use="literal"/>
</fault>
</operation>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
<fault name="BookingNumberException">
<soap:fault name="BookingNumberException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AirlineService">
<port name="AirlineServicePort" binding="tns:AirlineServicePortBinding">
<soap:address location="http://localhost:8080/webservices/AirlineService"/>
</port>
</service>
</definitions>