bpel/TravelGood/src/TravelGood.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="TravelAgencySoapService" xmlns:ns0="http://types.fastmoney.imm.dtu.dk">
<types>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://sterling:8080/webservices/TravelAgencySoapService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://sterling:8080/webservices/TravelAgencySoapService?xsd=2"/>
</xsd:schema>
</types>
<message name="getFlightsTravelGood">
<part name="from" type="xsd:string"/>
<part name="destination" type="xsd:string"/>
<part name="date" type="tns:CustomDate"/>
</message>
<message name="getFlightsResponseTravelGood">
<part name="FlightReservation" type="tns:FlightReservationArray"/>
</message>
<message name="getHotelsTravelGood">
<part name="city" type="xsd:string"/>
<part name="arrivalDate" type="tns:CustomDate"/>
<part name="departureDate" type="tns:CustomDate"/>
</message>
<message name="getHotelsResponseTravelGood">
<part name="hotels" type="tns:HotelArray"/>
</message>
<message name="createItinerary"/>
<message name="createItineraryResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getItinerary">
<part name="id" type="xsd:int"/>
</message>
<message name="getItineraryResponse">
<part name="itinerary" type="tns:Itinerary"/>
</message>
<message name="ItineraryDoesNotExistException">
<part name="fault" element="tns:ItineraryDoesNotExistException"/>
</message>
<message name="getItineraries"/>
<message name="getItinerariesResponse">
<part name="itineraries" type="tns:ItineraryArray"/>
</message>
<message name="cancelItinerarie">
<part name="id" type="xsd:int"/>
<part xmlns:ns1="http://types.fastmoney.imm.dtu.dk" name="cardInformation" type="ns1:creditCardInfoType"/>
</message>
<message name="cancelItinerarieResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="CancleBookingException">
<part name="fault" element="tns:CancleBookingException"/>
</message>
<message name="bookItinerarie">
<part name="id" type="xsd:int"/>
<part xmlns:ns2="http://types.fastmoney.imm.dtu.dk" name="cardInformation" type="ns2:creditCardInfoType"/>
</message>
<message name="bookItinerarieResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="BookingFaultException">
<part name="fault" element="tns:BookingNumberException"/>
</message>
<message name="createBookingTravelGood">
<part name="itinerarieId" type="xsd:int"/>
<part name="booking" type="tns:Booking"/>
</message>
<message name="createBookingResponseTravelGood">
<part name="return" type="xsd:boolean"/>
</message>
<portType name="TravelAgencySoapInterface">
<operation name="getFlights" parameterOrder="from destination date">
<input wsam:Action="http://services/TravelAgencySoapInterface/getFlightsRequest" message="tns:getFlightsTravelGood"/>
<output wsam:Action="http://services/TravelAgencySoapInterface/getFlightsResponse" message="tns:getFlightsResponseTravelGood"/>
</operation>
<operation name="getHotels" parameterOrder="city arrivalDate departureDate">
<input wsam:Action="http://services/TravelAgencySoapInterface/getHotelsRequest" message="tns:getHotelsTravelGood"/>
<output wsam:Action="http://services/TravelAgencySoapInterface/getHotelsResponse" message="tns:getHotelsResponseTravelGood"/>
</operation>
<operation name="createItinerary">
<input wsam:Action="http://services/TravelAgencySoapInterface/createItineraryRequest" message="tns:createItinerary"/>
<output wsam:Action="http://services/TravelAgencySoapInterface/createItineraryResponse" message="tns:createItineraryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services/TravelAgencySoapInterface/createItinerary/Fault/Exception"/>
</operation>
<operation name="getItinerary">
<input wsam:Action="http://services/TravelAgencySoapInterface/getItineraryRequest" message="tns:getItinerary"/>
<output wsam:Action="http://services/TravelAgencySoapInterface/getItineraryResponse" message="tns:getItineraryResponse"/>
<fault message="tns:ItineraryDoesNotExistException" name="ItineraryDoesNotExistException" wsam:Action="http://services/TravelAgencySoapInterface/getItinerary/Fault/ItineraryDoesNotExistException"/>
</operation>
<operation name="getItineraries">
<input wsam:Action="http://services/TravelAgencySoapInterface/getItinerariesRequest" message="tns:getItineraries"/>
<output wsam:Action="http://services/TravelAgencySoapInterface/getItinerariesResponse" message="tns:getItinerariesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services/TravelAgencySoapInterface/getItineraries/Fault/Exception"/>
</operation>
<operation name="cancelItinerarie" parameterOrder="id cardInformation">
<input wsam:Action="http://services/TravelAgencySoapInterface/cancelItinerarieRequest" message="tns:cancelItinerarie"/>
<output wsam:Action="http://services/TravelAgencySoapInterface/cancelItinerarieResponse" message="tns:cancelItinerarieResponse"/>
<fault message="tns:CancleBookingException" name="CancleBookingException" wsam:Action="http://services/TravelAgencySoapInterface/cancelItinerarie/Fault/CancleBookingException"/>
</operation>
<operation name="bookItinerarie" parameterOrder="id cardInformation">
<input wsam:Action="http://services/TravelAgencySoapInterface/bookItinerarieRequest" message="tns:bookItinerarie"/>
<output wsam:Action="http://services/TravelAgencySoapInterface/bookItinerarieResponse" message="tns:bookItinerarieResponse"/>
<fault message="tns:BookingFaultException" name="BookingFaultException" wsam:Action="http://services/TravelAgencySoapInterface/bookItinerarie/Fault/BookingFaultException"/>
</operation>
<operation name="createBooking" parameterOrder="itinerarieId booking">
<input wsam:Action="http://services/TravelAgencySoapInterface/createBookingRequest" message="tns:createBookingTravelGood"/>
<output wsam:Action="http://services/TravelAgencySoapInterface/createBookingResponse" message="tns:createBookingResponseTravelGood"/>
</operation>
</portType>
<binding name="TravelAgencySoapServicePortBinding" type="tns:TravelAgencySoapInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
</operation>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
</operation>
<operation name="createItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="ItineraryDoesNotExistException">
<soap:fault name="ItineraryDoesNotExistException" use="literal"/>
</fault>
</operation>
<operation name="getItineraries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="cancelItinerarie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="CancleBookingException">
<soap:fault name="CancleBookingException" use="literal"/>
</fault>
</operation>
<operation name="bookItinerarie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="BookingFaultException">
<soap:fault name="BookingFaultException" use="literal"/>
</fault>
</operation>
<operation name="createBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
</operation>
</binding>
<service name="TravelAgencySoapService">
<port name="TravelAgencySoapServicePort" binding="tns:TravelAgencySoapServicePortBinding">
<soap:address location="http://sterling:8080/webservices/TravelAgencySoapService"/>
</port>
</service>
</definitions>