src/main/java/hotel/HotelService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="HotelService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://mars:8080/webservices/HotelService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fastmoney.imm.dtu.dk" schemaLocation="http://mars:8080/webservices/HotelService?xsd=2"/>
</xsd:schema>
</types>
<message name="bookHotel">
<part name="hotelBookingRequest" type="tns:HotelBookingRequest"/>
</message>
<message name="bookHotelResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns1="http://fastmoney.imm.dtu.dk" name="fault" element="ns1:CreditCardFault"/>
</message>
<message name="cancelHotel">
<part name="bookingNumber" type="xsd:string"/>
</message>
<message name="cancelHotelResponse"/>
<message name="BookingNumberException">
<part name="fault" element="tns:BookingNumberException"/>
</message>
<message name="getHotels">
<part name="city" type="xsd:string"/>
<part name="arrivalDate" type="tns:CustomDate"/>
<part name="departureDate" type="tns:CustomDate"/>
</message>
<message name="getHotelsResponse">
<part name="hotels" type="tns:HotelArray"/>
</message>
<portType name="HotelInterface">
<operation name="bookHotel">
<input wsam:Action="http://services/HotelInterface/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://services/HotelInterface/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://services/HotelInterface/bookHotel/Fault/CreditCardFaultMessage"/>
</operation>
<operation name="cancelHotel">
<input wsam:Action="http://services/HotelInterface/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://services/HotelInterface/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://services/HotelInterface/cancelHotel/Fault/CreditCardFaultMessage"/>
<fault message="tns:BookingNumberException" name="BookingNumberException" wsam:Action="http://services/HotelInterface/cancelHotel/Fault/BookingNumberException"/>
</operation>
<operation name="getHotels" parameterOrder="city arrivalDate departureDate">
<input wsam:Action="http://services/HotelInterface/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://services/HotelInterface/getHotelsResponse" message="tns:getHotelsResponse"/>
</operation>
</portType>
<binding name="HotelServicePortBinding" type="tns:HotelInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
<fault name="BookingNumberException">
<soap:fault name="BookingNumberException" use="literal"/>
</fault>
</operation>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://services/"/>
</output>
</operation>
</binding>
<service name="HotelService">
<port name="HotelServicePort" binding="tns:HotelServicePortBinding">
<soap:address location="http://mars:8080/webservices/HotelService"/>
</port>
</service>
</definitions>